{%  extends "layout.html" %}
{% load static %}

{%  block content %}
<table id="bodyCV">
  <tr>
    <td class="tableHeader tableHeaderHeight">
      <p>Europass</p>
      <p>Curriculum vitae</p>
      <p class="importantParagraph">Personal information</p>
    </td>
    <td class="spacer1">&nbsp;&nbsp;</td>
    <td class="spacer2 separator tableHeaderHeight"></td>
    <td class="spacer2 tableHeaderHeight">&nbsp;&nbsp;</td>
    <td class="tableHeaderHeight" id="foto">
        <img src="{% static "imgs/"|add:cv.eurocv.foto %}" style="width:250px"/>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td></td>
  </tr>
  <tr>
    <td class="fieldsHeader">Surname(s) / First name(s)</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="name">{{ cv.eurocv.personalInfo.name.firstname }} {{ cv.eurocv.personalInfo.name.lastname }}</td>
  </tr>
  <tr>
    <td class="fieldsHeader">Address(es)</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="address">{{ cv.eurocv.personalInfo.address.street }}
    {{ cv.eurocv.personalInfo.address.cp }}
    {{ cv.eurocv.personalInfo.address.local }}
    {{ cv.eurocv.personalInfo.address.country }}</td>
  </tr>
  <tr>
    <td class="fieldsHeader">Telephone(s)</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="phone">{{ "+("|add:cv.eurocv.personalInfo.contact.phone.countryprefix|add:")" }} {{ cv.eurocv.personalInfo.contact.phone.number }}</td>
  </tr>
  <tr>
    <td class="fieldsHeader">Fax(es)</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="fax">{{ "+("|add:cv.eurocv.personalInfo.contact.fax.countryprefix|add:")" }} {{ cv.eurocv.personalInfo.contact.fax.number }}</td>
  </tr>
  <tr>
    <td class="fieldsHeader">E-mail(s)</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="email">
        <p>{{ cv.eurocv.personalInfo.contact.email.0.type|add:": "|add:cv.eurocv.personalInfo.contact.email.0.value}}</p>
            <p>{{ cv.eurocv.personalInfo.contact.email.1.type|add:": "|add:cv.eurocv.personalInfo.contact.email.1.value }} </p></td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td></td>
  </tr>
  <tr>
    <td class="fieldsHeader">Nationality(-ies)</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="nationality">{{ cv.eurocv.personalInfo.nacionality }}</td>
  </tr>
  <tr>
    <td class="fieldsHeader">Date of birth</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="birthdate">{{ cv.eurocv.personalInfo.birthdate.day}}
        {{ cv.eurocv.personalInfo.birthdate.month }}
        {{ cv.eurocv.personalInfo.birthdate.year }} </td>
  </tr>
  <tr>
    <td class="fieldsHeader">Gender</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="gender">{{ cv.eurocv.personalInfo.gender}} </td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td></td>
  </tr>
  <tr>
    <td class="spacer3">
      <p class="importantParagraph">Desired employment /<br>Occupational field</p>
    </td>
    <td class="spacer1 spacer3"></td>
    <td class="spacer2 spacer3 separator">&nbsp;</td>
    <td class="spacer2 spacer3"></td>
    <td class="fieldsValue spacer3" id="desiredEmploy">{{ cv.eurocv.desiredEmploy}} </td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td></td>
  </tr>
  <tr>
    <td class="fieldsHeader">Work experience</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td></td>
  </tr>
  <tr>
    <td class="fieldsHeader">Dates</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="wexpDates">&nbsp;{{ cv.eurocv.workexperience.position.dates.start.month}},{{ cv.eurocv.workexperience.position.dates.start.year}} -
    {{ cv.eurocv.workexperience.position.dates.end.month}},{{ cv.eurocv.workexperience.position.dates.end.year}}</td>
  </tr>
  <tr>
    <td class="fieldsHeader">Occupation or position held</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="occupation">{{ cv.eurocv.workexperience.position.occupation}}</td>
  </tr>
  <tr>
    <td class="fieldsHeader">Main activities and responsibilities</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="activities">&nbsp;</td>
  </tr>
  <tr>
    <td class="fieldsHeader">Name and address of employer</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="employer">{{ cv.eurocv.workexperience.position.employer.name}}
        {{ cv.eurocv.workexperience.position.employer.address.street}},
        {{ cv.eurocv.workexperience.position.employer.address.cp}},
        {{ cv.eurocv.workexperience.position.employer.address.local}},
        {{ cv.eurocv.workexperience.position.employer.address.country}}
    </td>
  </tr>
  <tr>
    <td class="fieldsHeader">Type of business or sector</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="businessSector">&nbsp;
     {{ cv.eurocv.workexperience.position.businessSector}}</td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td></td>
  </tr>
</table>

{%  endblock %}