{% extends "layout.html" %}
{% block content %}

    <br>
    <br>
        <br>
    <br>
	<section id="form"><!--form-->
                <!-- ERRORS -->
                {% if messages %}
                    {% for message in messages %}
                        <div id="hideDiv" style= "position: absolute; margin-left: 1500px;   margin-top: 40px" class=" col-sm-2 alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

				<div    style="  margin:auto;
                      width:20%;
                      padding:63px;
                     ">
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
					    <form method="POST" action="">
						    {% csrf_token %}
							<input name="user" type="text" placeholder="Name" />
							<input name="pass" type="password" placeholder="Password" />
                            <span style="float:left;"> Don't have an account?</span>
							<span>
                                <a style="float:right;" href="{% url 'signup' %}" > Signup </a>
							</span>

                            <br/>
                            <button style="float:right;" type="submit" class="btn btn-default">Login</button>

						</form>
					</div><!--/login form-->
				</div>


	</section>
{% endblock %}

