{% extends "layout.html" %}
{% block content %}

    <style>
        .styled-table {
            border-collapse: collapse;
            width:76%;
            margin-left:12%;
            margin-right:12%;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
        }
        .styled-table thead tr {
            background-color: #009879;
            color: #009879;
            text-align: left;
        }

            .styled-table th,
             .styled-table td {
                padding: 30px 15px;
                }


            .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px  #009879;
            }

            .styled-table tbody tr.active-row {
                color: #009879;
            }
    </style>
    <!--PRODUCTS MANAGEMENT-->
        <div style="  margin:auto;
          width:90%;
          padding:10px;">



	<section ><!--form-->
        <div class="row "  >
                <div class="col-sm-12"   >
                <br>
                <p>
                   <a class="btn btn-sm btn-success" style="
                    float:right;margin-right:15%"  href="{% url 'createProduct' %}" > Create Product </a>
                </p>
                <br>

                <p></p>
                <table class="styled-table">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Condition</th>
                    <th>Seller</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Promotion</th>
                    <th>Image</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <th>{{ product.name }}</th>
                        <th>{{ product.price }}</th>
                        <th>{{ product.description }}</th>
                        <th>{{ product.quantity }}</th>
                        <th>{{ product.condition }}</th>
                        <th>{{ product.seller }}</th>
                        <th>{{ product.brand }}</th>
                        <th>{{ product.category }}</th>
                        <th>{{ product.promotion.name }}</th>
                        <th>   <img style="height:100px" src="{{ product.image.url }}" alt="" /></th>
                        <th><a class="btn btn-sm btn-info" href="{% url 'updateProduct' product.id %}">Update</a></th>
                        <th><a class="btn btn-sm btn-danger" href="{% url 'deleteProduct' product.id %}">Delete</a></th>
                    </tr>
                {%  endfor %}
                </table>
        </div>
    </div>
	</section>

    	<footer id="footer"><!--Footer-->

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2021 TechOn . All rights reserved.</p>
					<p class="pull-right">TPW Project</p>
				</div>
			</div>
		</div>

	</footer>

{% endblock %}

