
<div    style="  margin:auto;
                      width:400px;
                      padding:63px;
                     ">
  <div class="login-form"  ><!--login form-->
    <h2 style="font-size: 22px">Login to your account</h2>
    <form method="post" *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
      <input formControlName="username" type="text" placeholder="Username" />
      <input formControlName="password" name="pass" type="password" placeholder="Password" />
      <a style="float:left;" routerLink="/register"> Don't have an account? Register</a>


      <button style="float:right; font-size: 16px" type="submit" class="btn btn-default" value="Login">Login</button>

    </form>
  </div><!--/login form-->
</div>

<router-outlet></router-outlet>

